
/*
.interior{

}
  */
.nav1{
  max-width: 100%;
  height: 50px;
  background-color: rgba(227, 25, 25, 0.888);
  border-radius: 10px;
}
.nav1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #dad4cc83;
  z-index: -1;
  border-bottom: 1px solid #776c62;
}

/* .filtercontainer {
 
  
} */

.nav1 ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.nav1 li {
  margin-right: 20px;
  display: inline-block;
  position: relative;
  top: 12px;
  left: 30px;
}
/* barra de busqueda */
.search{
  position: relative;
  left:55px;
  top:0px;

}

.createButton{
  /* width: 100%; */
  background-color: white;
  /* border: none; */
  /* padding: 10px; */
  border-radius: 5px;
  /* margin: 5px 0; */
  font-size: 15px;
  cursor: pointer;

}